* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-image: linear-gradient(#64748b, #020617);
  color: white;
}

.carouselph {
  height: 175px;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

#carousel {
  width: 90%;
  align-self: center;
  justify-self: center;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.item {
  flex-shrink: 0;
  margin: 10px;
  width: 85px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 30px;
  height: 30px;
  align-self: center;
  justify-self: center;
}

.inputph {
  min-width: 300px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 4fr 20px;
}

.fvsc {
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dataph {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#icon {
  width: 150px;
  aspect-ratio: 1;
}

.daydata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: column;
}

#leftbtn,
#leftarrow {
  background-image: url("./images/arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#rightbtn,
#rightarrow {
  background-image: url("./images/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.image {
  width: 75px;
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
}

#icon {
  background-position: center;
  background-repeat: no-repeat;
}
